[submodule "tests/riscv-tests"]
	path = third-party/riscv-tests
	url = https://github.com/cartesi/riscv-tests.git
[submodule "tests/riscv-arch-test"]
	path = third-party/riscv-arch-test
	url = https://github.com/cartesi/riscv-arch-test.git
